<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <meta name="author" content="Echo">
    <title>生日快乐</title>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/animate.min.css"/>
    <script src="js/change.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="userPicture/users.js"></script>
</head>
<body>
<main>

</main>
<div id='wx_pic' style='margin:0 auto; display:none;'>
    <img src='img/icon.jpg'/>
</div>

<div class="pf music play">
    <audio id="music" src="audio/saveme.mp3" loop="loop">
        您的浏览器不支持 audio 标签。
    </audio>
</div>

<main>
    <div class="loading">
        <div class="loader-inner line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</main>


<div class="slide_wrap swiper-container" id="swiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide curr">
            <div class="page">
                <div class="pr flowerBg ani"  swiper-animate-effect="bounceInDown" swiper-animate-duration=".6s" swiper-animate-delay="0.2s">
                    <img src="img/flowerbg.png" alt="花环"/>

                    <div class="pa moon ani"  swiper-animate-effect="bounceInLeft" swiper-animate-duration=".8s" swiper-animate-delay="1.1s">
                        <img src="img/moon.png" alt="饼图"/>
                    </div>
                    <div class="pa bird ani" swiper-animate-effect="bounceInRight" swiper-animate-duration=".8s" swiper-animate-delay="2.2s">
                        <img src="img/bird.png" alt="鸟儿"/>
                    </div>

                   <!-- <div class="pa titile ani" swiper-animate-effect="rotateIn" swiper-animate-duration=".8s" swiper-animate-delay="2.6s">
                        &lt;!&ndash;<span>58赶集信息系统部</span>&ndash;&gt;
                        <img src="img/chupin.png" alt=""/>
                    </div>-->


                    <div class="pa huaban ani" swiper-animate-effect="zoomInLeft" swiper-animate-duration=".9s" swiper-animate-delay="3.2s">
                        <img src="img/huaban.png" alt="花瓣"/>
                    </div>

                </div>

                <div class="pa myfooter ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="0.6s" swiper-animate-delay="4s">
                    <img src="img/footer-1.png" alt="蜡烛"/>
                </div>

            </div>

        </div>


        <div v-for="person in userList" class="swiper-slide picPart">
            <div class="page">
                <header class="header ani" swiper-animate-effect="bounceInDown" swiper-animate-duration=".8s" swiper-animate-delay="0.1s">
                    <img src="img/headBanner.png" alt="生日童鞋"/>
                </header>

                <section class="userSection clearFix ani" swiper-animate-effect="fadeIn" swiper-animate-duration=".6s" swiper-animate-delay="1.1s">

                    <div class="userItem">
                        <div class="userItem-l ani" swiper-animate-effect="{{animationList[Math.floor(Math.random() * 8)]}}" swiper-animate-duration=".7s" swiper-animate-delay="1.4s">
                            <img src="{{person[0].pic}}" alt="小伙伴的灶片"/>
                        </div>


                        <div class="userItem-r ani" swiper-animate-effect="{{animationList[Math.floor(Math.random() * 8)]}}" swiper-animate-duration=".6s" swiper-animate-delay="2.2s">
                            <div class="userInfo">
                                <span class="userInfo-l">生日：</span>
                                <span class="userInfo-r">{{person[0].birthday}}</span>
                            </div>
                            <div class="userInfo">
                                <span class="userInfo-l">入职时间：</span>
                                <span class="userInfo-r">{{person[0].inTime}}</span>
                            </div>
                            <div class="userInfo">
                                <span class="userInfo-l">二级部门：</span>
                                <span class="userInfo-r">{{person[0].department}}</span>
                            </div>
                            <div class="userInfo">
                                <span class="userInfo-l">职位：</span>
                                <span class="userInfo-r">{{person[0].title}}</span>
                            </div>
                            <div class="userInfo">
                                <span class="userInfo-l">心愿/寄语：</span>
                                <span class="userInfo-r">{{person[0].wish}}</span>
                            </div>
                        </div>

                        <span class="userName ani" swiper-animate-effect="{{animationList[Math.floor(Math.random() * 8)]}}" swiper-animate-duration=".5s" swiper-animate-delay="1.6s">{{person[0].name}}</span>

                        <i class="sideBar _t"></i>
                        <i class="sideBar _b"></i>
                    </div>
                </section>


                <section v-if="person[1]" class="userSection clearFix ani" swiper-animate-effect="fadeIn" swiper-animate-duration=".6s" swiper-animate-delay="2.8s">
                    <div class="userItem">
                        <div class="userItem-l ani" swiper-animate-effect="{{animationList[Math.floor(Math.random() * 8)]}}" swiper-animate-duration=".6s" swiper-animate-delay="3.2s">
                            <img src="{{person[1].pic}}" alt="小伙伴的灶片"/>
                        </div>
                        <div class="userItem-r ani" swiper-animate-effect="{{animationList[Math.floor(Math.random() * 8)]}}" swiper-animate-duration=".6s" swiper-animate-delay="3.8s">
                            <div class="userInfo">
                                <span class="userInfo-l">生日：</span>
                                <span class="userInfo-r">{{person[1].birthday}}</span>
                            </div>
                            <div class="userInfo">
                                <span class="userInfo-l">入职时间：</span>
                                <span class="userInfo-r">{{{{person[1].inTime}}}}</span>
                            </div>
                            <div class="userInfo">
                                <span class="userInfo-l">二级部门：</span>
                                <span class="userInfo-r">{{person[1].department}}</span>
                            </div>
                            <div class="userInfo">
                                <span class="userInfo-l">职位：</span>
                                <span class="userInfo-r">{{person[1].title}}</span>
                            </div>
                            <div class="userInfo">
                                <span class="userInfo-l">心愿/寄语：</span>
                                <span class="userInfo-r">{{person[1].wish}}</span>
                            </div>
                        </div>

                        <span class="userName ani" swiper-animate-effect="{{animationList[Math.floor(Math.random() * 8)]}}" swiper-animate-duration=".5s" swiper-animate-delay="3.4s">{{person[1].name}}</span>

                        <i class="sideBar _t"></i>
                        <i class="sideBar _b"></i>
                    </div>
                </section>

                <div v-else class="weiwan clearFix ani" swiper-animate-effect="bounceInDown" swiper-animate-duration=".6s" swiper-animate-delay="2.8s">
                    <img src="img/weiwan.png" alt="未完待续"/>
                </div>

                <footer class="footer ani" swiper-animate-effect="bounceInUp" swiper-animate-duration=".8s" swiper-animate-delay="4.5s">
                    <img src="img/footer.png" alt=""/>
                </footer>
            </div>
        </div>

        <!---->
        <div class="swiper-slide">

            <div class="page">
                <div class="line">
                    <div class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s">
                        <img src="img/line1.png" alt=""/>
                    </div>
                    <div class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s">
                        <img src="img/line2.png" alt=""/>
                    </div>
                    <div class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="1.1s">
                        <img src="img/line3.png" alt=""/>
                    </div>
                    <div class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="1.6s">
                        <img src="img/line4.png" alt=""/>
                    </div>
                    <div class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.1s">
                        <img src="img/line5.png" alt=""/>
                    </div>
                    <div class="ani tr"  swiper-animate-effect="bounceInRight" swiper-animate-duration="0.5s" swiper-animate-delay="2.6s">
                        <img src="img/laojia.png" alt=""/>
                    </div>

                    <div class="laojiaPic ani"  swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.8s" swiper-animate-delay="3.4s">
                        <img src="img/laojiaPic.png" alt="老贾照片" />
                    </div>
                </div>

                <div class="handFlower ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="0.8s" swiper-animate-delay="4.2s">
                    <img src="img/hand.png" alt="手捧花"/>
                </div>

            </div>

        </div>



        <div class="swiper-slide last">
            <div class="page">
                <div class="happy ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.8s" swiper-animate-delay="0.1s">
                    <img src="img/happy.png" alt="happy birthday"/>
                </div>

                <div class="candle ani" swiper-animate-effect="rollIn" swiper-animate-duration="0.8s" swiper-animate-delay="1.7s">
                    <img src="img/candle.png" alt="蜡烛"/>
                </div>
            </div>


        </div>

    </div>


    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>


<script src="js/swiper-3.3.1.jquery.min.js"></script>
<script src="js/swiper.animate1.0.2.min.js"></script>

<script>

    var vm  =  new Vue({
        el: '.swiper-wrapper',
        data: {
            userList: userList,
            animationList: ['bounceInLeft', 'rollIn', 'fadeInUp', 'zoomInUp', 'flipInY', 'bounceInUp', 'fadeInDown', 'flipInX'],
            num: 8
        }
    });

    window.onload = function () {

        $(".loading").hide();

        var flag = false;
        var ua = navigator.userAgent;
        if (ua.indexOf('SM-N9100') != -1) {
            flag = true;
        }
        var eswiper = document.getElementById("swiper");
        var scale = window.screen.height / window.screen.width;
        eswiper.style.height = document.body.clientWidth * scale + "px";

        var mymusic = document.getElementById('music');
        mymusic.play();
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'vertical',
            loop: true,
            preloadImages:false,
            autoHeight: true, //高度随内容变化
            // 如果需要滚动条
            scrollbar: '.swiper-scrollbar',
            loopedSlides: $(".swiper-slide").length,//此参数最大设定为slide的个数，表示循环播放animation最多只能两遍
            onSlideChangeEnd: function(swiper){
                $(".page").css({
                    'width': $(window).width(),
                    'height': $(window).height()
                });
                swiperAnimate(swiper);
                var curIndex = swiper.activeIndex,
                    $curSlide = $(".swiper-slide").eq(curIndex);
                if (flag && $curSlide.hasClass('picPart')) {
                    $(".userSection").css({
                        'margin-top': '10%'
                    });
                }
            }
        });


        $(".swiper-container").on('click', ".happy", function () {
            window.location.reload();
        });


        $(".music").click(function () {
            var $this = $(this);
            if ($this.hasClass('play')) {
                document.getElementById('music').pause();
                $this.removeClass('play');
            } else {
                $this.addClass('play');
                document.getElementById('music').play();
            }
        });
    };







</script>
</body>
</html>