<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <!-- 禁止数字识自动别为电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Echo,echochocolatekapa@163.com">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/lib/change.js"></script>
    <title>你我的新鲜事儿~快来动弹一下吧</title>
</head>
<body>

    <header>
        <h4>快来动弹一下吧~</h4>
    </header>

    <section class="send_text">
        <textarea name="" id="" cols="1000" rows="10" class="text mysend" placeholder="发布你的动弹~"></textarea>
        <div class="send_wrap">
            <input type="button" class="input danger" value="发布"/>
        </div>
    </section>

    <section class="dongtan">
        <div class="head pr">
            <img class="headimg" src="img/myhead/0.jpg" alt="头像"/>
            <div class="dongtan-content">
                <p class="author">林彬</p>
                <p class="tip"><span>2016.03.05  15:23:34</span> <span>来自</span><strong>小米Note</strong></p>
                <p class="content">
                    烟花缭绕让全世界颠倒。想得到游乐园的门票，就像单纯那样美妙。你的眉毛，我的惊叹号。
                    你的眉毛，黑色浮雕。有年轻的棱角。但愿别人都不会看到。
                </p>
            </div>
            <div class="dongtan-footer">
                <div class="star"></div>
                <div class="comment"></div>
                <div class="like"></div>
            </div>
        </div>
    </section>















</body>
</html>