<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <!-- 禁止数字识自动别为电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="keywords" content="心情">
    <meta name="description" content="心情树洞">
    <meta name="author" content="Echo,echochocolatekapa@163.com">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="resource/css/index.css"/>
    <title>你我的树洞</title>
    <script>
        var docEl = document.documentElement;
        document.getElementsByTagName('html')[0].style.fontSize=docEl.clientWidth/7.5+'px';
        window.onresize = function () {
            document.getElementsByTagName('html')[0].style.fontSize=docEl.clientWidth/7.5+'px';
        };
        dpr = window.devicePixelRatio || 1;
        // 设置data-dpr属性，留作的css hack之用
        docEl.setAttribute('data-dpr', dpr);
    </script>
</head>
<body>
    <div id='wx_pic' style='margin:0 auto; display:none;'>
        <img src="./resource/img/echo.png" alt=""/>
    </div>
    <app></app>
    <script src="dist/bundle.js"></script>
</body>
</html>