<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <!-- 禁止数字识自动别为电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Echo,echochocolatekapa@163.com">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/lib/change.js"></script>
    <title>你我的新鲜事儿~快来动弹一下吧</title>
</head>
<body>
    <app></app>
    <script src="dist/bundle.js"></script>
</body>
</html>