<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>练习</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link href="http://cdn.bootcss.com/fullPage.js/2.7.8/jquery.fullPage.min.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/fullPage.js/2.7.8/vendors/jquery.easings.min.js"></script>
    <script src="http://cdn.bootcss.com/fullPage.js/2.7.8/vendors/jquery.slimscroll.min.js"></script>
    <script src="http://cdn.bootcss.com/fullPage.js/2.7.8/jquery.fullPage.min.js"></script>
</head>
<body>
    <header class="header">
        <ul id="myMenu">
            <li data-menuanchor="profile" class="active">
                <a href="#profile">简介</a>
            </li>
            <li data-menuanchor="experience" >
                <a href="#experience">经历</a>
            </li>
            <li data-menuanchor="projects" >
                <a href="#projects">项目经验</a>
            </li>
            <li data-menuanchor="contact" >
                <a href="#contact">联系我</a>
            </li>
        </ul>
    </header>

    <div id="fullpage">
        <div class="section info1" data-anchor="profile">
            <img src="img/head.png" alt="headimg" class="headimg">
            <p>吴海萍&nbsp;&nbsp;26岁&nbsp;&nbsp;未婚</p>
            <p>毕业于山东科技大学，本科，主修计算机相关知识</p>
            <p>目前就职于北京58赶集集团，任前端开发工程师</p>
            <p>掌握css3,html5,熟悉require.js, jquery, vue, bootstrap</p>
            <p>熟悉python，node.js等后端语言，熟悉与后端交互</p>
            <p>熟悉PC端和移动端开发</p>
        </div>
        <div class="section experience" data-anchor="experience">
            <!--工作经历-->

            <div class="exp-div">
                <p class="ex-p">
                    <span class="time">2014.02-2015.07</span>
                    <span class="time"> 北京子衿晨风科技有限公司</span>
                    <span>软件开发工程师</span>
                    <span>使用python的tornado和flask，以及java独立开发了多个web项目</span>
                    <span>使用python语言开发QT客户端，也封装python的小工具。</span>
                    <span>用到python, tornado, flask, mysql, cassandra, es, d3.js, bootstrap, mongodb</span>
                </p>
                <p class="ex-p">
                    <span class="time">2013.01-2014.01年</span>
                    <span class="company"> 北京容天汇海科技有限公司</span>
                    <span>软件开发工程师</span>
                    <span>用cuda对C代码进行高性能改造</span>
                </p>
            </div>



        </div>


        <div class="section" data-anchor="projects">
            <!--项目经验-->
            <div class="slide">第三屏的第一屏</div>
            <div class="slide">第三屏的第二屏</div>
            <div class="slide"></div>
            <div class="slide">仿网站静态页</div>
        </div>
        <div class="section contact" data-anchor="contact">
            <!--联系我-->
            <p>
                <svg aria-hidden="true" class="git1" height="32" version="1.1" viewBox="0 0 16 16" width="32"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg>
                &nbsp;<a href="https://github.com/IChocolateKapa">Github&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
            <p><i class="csdn"></i>&nbsp;&nbsp;<a href="http://blog.csdn.net/ichocolatekapa">CSDN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>

            <p><i class="phone"></i>&nbsp;&nbsp;18612552963</p>
        </div>
    </div>

    <script>
        $(function () {
            $('#fullpage').fullpage({
                anchors: ['profile', 'experience', 'projects', 'contact'],
                menu: '#myMenu'
            });
        });
    </script>

</body>
</html>