ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main_wrap {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
  background: #fff;
  position: relative;
}
.banner {
  background: url("../images/12.jpg") no-repeat;
  background-size: 100%;
  height: 50%;
}
.loginSection {
  height: 80px;
  position: relative;
  margin-top: 2rem;
}
.loginSection a {
  font-size: .6rem;
  display: inline-block;
  height: 50%;
  line-height: 40px;
  margin-top: 5px;
}
.pageTitle {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 1rem;
}
.dialog {
  margin-top: .5rem;
}
.dialog > * {
  margin-top: 10px;
  line-height: 1.4rem;
  font-size: .8rem;
}
.dialog .reSend {
  font-size: 100%;
  right: -1px;
  padding: 1.5px 5px;
  border-radius: 5px;
  color: #999;
  line-height: 2rem;
}
.dialog .reSend span {
  padding: 0 2px;
}
.dialog input {
  margin-bottom: 10px;
}
.left_menu {
  width: 3rem;
  top: 5px;
  left: 5px;
  position: fixed;
  box-shadow: 1px 0 10px 2px rgba(209, 214, 72, 0.4);
}
.left_menu ul {
  width: 100%;
  border: 1px solid #faf2da;
}
.left_menu ul li {
  height: 2rem;
  background: #414039;
  border-bottom: 1px solid #faf2da;
  line-height: 2rem;
  color: #D1D648;
  text-align: center;
}
.left_menu ul li:nth-last-of-type(1) {
  border-bottom: none;
}
.left_menu ul li.active {
  background: white !important;
  color: #666 !important;
}
.right_content {
  width: calc(100% - 3rem);
  margin-left: 3rem;
  height: auto;
  min-height: 350px;
}
.right_content .mask {
  height: 95%;
  width: 100%;
  position: fixed;
  z-index: 100;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
  overflow-y: scroll;
}
.right_content ul,
.right_content li {
  width: 100%;
}
.right_content li {
  height: 4rem;
  box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
}
.right_content .section {
  width: 100%;
  height: 100%;
}
.right_content .section .head {
  float: left;
}
.right_content .section .head img {
  max-height: 100%;
  max-width: 100%;
  width: 4rem;
  height: auto;
  vertical-align: middle;
  margin-left: .1rem;
}
.right_content .section .info1 {
  background: white;
  padding-left: .5rem;
  width: calc(100% - 4.6rem);
  float: right;
}
.right_content .section span {
  line-height: 2rem;
}
.right_content .section span.word {
  display: block;
  line-height: 1rem;
}
.right_content .section.highlight {
  z-index: 18;
  box-shadow: 1px 0 10px 3px rgba(58, 109, 160, 0.6);
}
.input_bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 97%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#total {
  text-align: center;
  color: #209599;
}
.dialog.chatmsg {
  color: #D1D648;
  background: #262626;
  border-radius: 5px;
  text-indent: 15px;
}
.dialog.chatmsg p {
  line-height: 2rem;
}
p.tip {
  font-size: .5rem;
  color: #D1D648;
}
