<div id="example">
    <form id="search">
        Search <input name="query" v-model="searchQuery"/>
    </form>
    <demo-grid
            :table-content = "gridContent"
            :table-header = "gridHeader"
            :isA = "AorB"
            >
    </demo-grid>
</div>

<script type="text/x-template" id="grid-template">
    <ul class="table-header" @click="changeData">
        <li class="table-cell" v-for="item in tableHeader">{{item}}</li>
    </ul>
    <div class="table-content">
        <div class="table-row" v-for="item in tableContent  | filterBy filterKey in 'a' | orderBy 'a' soryKey">
            <div class="table-cell">{{item.a}}</div>
            <div class="table-cell">{{item.b}}</div>
            <div class="table-cell">{{item.c}}</div>
            <div class="table-cell">{{item.d}}</div>
        </div>
    </div>
</script>