//
   Created by Echo on 2015/12/18.

extends ../base

block content
    div.main_wrap
        div.banner.w_100
        div.loginSection.w_100
            a(href='/login').btn.danger.w_100-24 登录
            a(href='/register').btn.primary.w_100-24 注册
