//
   Created by Echo on 2015/12/18.

extends ../base

block content
    div.main_wrap
        div.banner
        div.loginSection
            a(href='/login').btn.danger.w_100-24 登录
            a(href='/register').btn.success.w_100-24 注册