//
   Created by Echo on 2015/12/18.

extends ../base

block content
    div.main_wrap
        div.banner
        div.loginSection
            a(href='/login').btn.danger 登录
            a(href='/register').btn.success 注册

    script.
        $(function () {
            $(".main_wrap").height($(window).height());
        })
