<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <title>筛选</title>
    <link rel="stylesheet" href="index.css"/>
    <script src="jquery.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div class="echo-main">
        <header class="echo-title">筛选 <i class="close"></i></header>
        <div class="echo-content">
            <div class="echo-content-item">
                <div class="echo-content-item-header">
                    <label class="label">
                        <input type="checkbox" />
                        <span>城市</span>
                    </label>
                    <div class="echo-select_wrap">
                        <input type="text" placeholder="请输入汉字"/>
                        <i class="echo-search"></i>
                    </div>

                    <div class="buttons">
                        <a href="javascript:void(0)" class="checkall">全选</a>
                        <a href="javascript:void(0)" class="reset">重置</a>
                    </div>
                </div>

                <div class="echo-content-item-abc">
                    <a href="javascript:void(0)" class="active">A</a>
                    <a href="javascript:void(0)">B</a>
                    <a href="javascript:void(0)">C</a>
                    <a href="javascript:void(0)">D</a>
                    <a href="javascript:void(0)">E</a>
                    <a href="javascript:void(0)">F</a>
                    <a href="javascript:void(0)">G</a>
                    <a href="javascript:void(0)">H</a>
                    <a href="javascript:void(0)">I</a>
                    <a href="javascript:void(0)">J</a>
                    <a href="javascript:void(0)">K</a>
                    <a href="javascript:void(0)">L</a>
                    <a href="javascript:void(0)">M</a>
                    <a href="javascript:void(0)">N</a>
                    <a href="javascript:void(0)">O</a>
                    <a href="javascript:void(0)">P</a>
                    <a href="javascript:void(0)">Q</a>
                    <a href="javascript:void(0)">R</a>
                    <a href="javascript:void(0)">S</a>
                    <a href="javascript:void(0)">T</a>
                    <a href="javascript:void(0)">U</a>
                    <a href="javascript:void(0)">V</a>
                    <a href="javascript:void(0)">W</a>
                    <a href="javascript:void(0)">X</a>
                    <a href="javascript:void(0)">Y</a>
                    <a href="javascript:void(0)">Z</a>
                </div>

                <div class="echo-content-item-citys">
                    <span class="active">北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>包头包头包头包头包头</span>
                    <span>包头包头包头包头包头</span>
                    <span>包头包头包头包头包头</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>包头包头包头包头包头</span>
                    <span>包头包头包头包头包头</span>
                    <span>包头包头包头包头包头</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                    <span>北京</span>
                    <span>棒骨</span>
                    <span>包头</span>
                </div>

                <div class="echo-content-item-container">
                    <div class="pager-group">
                        <div class="pager">
                            <span>共计<span>0</span>条</span>
                            <span class="pager-a active">1</span>
                            <span class="pager-a">2</span>
                            <span class="pager-a">3</span>
                            <span class="pager-a">4</span>
                        </div>
                        <div class="ctlr open">
                            <span class="ctlr-text">收起</span>
                            <span class="arrow"></span>
                        </div>
                    </div>

                    <div class="echo-content-item-container-content"></div>
                </div>

            </div>
        </div>
        <div class="echo-content">
            <div class="echo-content-item">
                <div class="echo-content-item-header">
                    <label class="label">
                        <input type="checkbox" />
                        <span>业务线</span>
                    </label>
                    <div class="echo-select_wrap">
                        <input type="text" placeholder="请输入汉字"/>
                        <i class="echo-search"></i>
                    </div>

                    <div class="buttons">
                        <a href="javascript:void(0)" class="checkall">全选</a>
                        <a href="javascript:void(0)" class="reset">重置</a>
                    </div>
                </div>


                <div class="echo-content-item-citys">
                    <span class="active">房产</span>
                    <span>招聘</span>
                    <span>二手车</span>
                    <span>黄页</span>
                </div>

                <div class="echo-content-item-container">
                    <div class="pager-group">
                        <div class="pager">
                            <span>共计<span>0</span>条</span>
                            <span class="pager-a active">1</span>
                            <span class="pager-a">2</span>
                            <span class="pager-a">3</span>
                            <span class="pager-a">4</span>
                        </div>
                        <div class="ctlr open">
                            <span class="ctlr-text">收起</span>
                            <span class="arrow"></span>
                        </div>
                    </div>

                    <div class="echo-content-item-container-content"></div>
                </div>

            </div>
        </div>


        <div class="buttons _b">
            <a href="javascript:void(0)" class="sure">确认</a>
        </div>
    </div>


</body>
</html>