extends ../base

block append head
    link(rel='stylesheet', href='./css/index.css')
    script(src='./js/vue.js')
    script(src='./js/zepto.min.js')
    script.
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth / 7.2 + 'px';
        window.onresize = function () {
            document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth / 7.2 + 'px';
        };

block content
    //表体
    div.main_wrap(style='padding:0; margin: 0 auto; width: 100%;height:100%')
        header.header
            span 商店首页
            i.icon-person

        div.slide_wrap
            ul
                li.cur
                    img(src='./img/slide1.png')
                li
                    img(src='./img/slide2.png')

        div.menu_wrap
            ul#menuUl
                li(v-for="menu in menuList")
                    div.menu_item
                        img(src="{{menu.src}}")
                        span {{menu.text}}

        footer
            //页脚
            nav.footer
                a.cur
                    img(src='./img/footer-1.png')
                    span 首页

                a
                    img(src='./img/footer-2.png')
                    span 找保姆

                a
                    img(src='./img/footer-3.png')
                    span 个人中心



    script.
        var menuList = [
            {
                src: './img/baojie.png',
                text: '临时保洁'
            },
            {
                src: './img/zhongdian.png',
                text: '长期钟点工'
            },
            {
                src: './img/baomu.png',
                text: '住家保姆'
            },
            {
                src: './img/yuesao.png',
                text: '月嫂'
            },
            {
                src: './img/yuer.png',
                text: '育儿嫂'
            },
            {
                src: './img/laoren.png',
                text: '看护老人'
            },
            {
                src: './img/peihu.png',
                text: '陪护'
            },
            {
                src: './img/more.png',
                text: '更多服务'
            }
        ];
        var vm  =  new Vue({
            el: '.menu_wrap',
            data: {
                menuList: menuList
            }
        });

        //滑动banner监听事件
        //v-bind:src="{{menu.src}}"
        var vm2 = new Vue({el: '.slide_wrap'});
        var orgPosX, offsetX, startTime;
        vm2.$on('touchstart', function (event) {
            orgPosX = event.touches[0].pageX;
            offsetX = 0;
            startTime = new Date() * 1;
        });
        vm2.$on('touchmove', function (event) {
            event.preventDefault();
            offsetX = event.touches[0].pageX - orgPosX;
        });
        vm2.$on('touchend', function (event) {

            console.log('offsetX=%d', offsetX);

            endTime = new Date() * 1;
            var timeDif = endTime - startTime;

            var cls = '';

            if (timeDif < 200) {
                if (offsetX > 50) {
                    cid--;
                } else if (offsetX < -50) {
                    cid++;
                }
            } else {
                if (offsetX > $(window).width()/6) {
                    cid--;
                } else if (offsetX < -$(window).width()/6) {
                    cid++;
                }
            }

            alert('slssll')

            if (cid < 0) {
                cid = len;
            }
            if (cid > len) {
                cid = 0;
            }
        })

        swipeEvent();

        function swipeEvent(id) {
            //alert(window.devicePixelRatio)//我的htc是2k屏， dpr是4， 魅族是2

            var self = this;
            var orgX, startTime, endTime,
                offsetX = 0,
                cid = id,
                len = $(".slide_wrap li").length;

            var startHandler = function (evt) {
                orgX = evt.touches[0].pageX;
                offsetX = 0;
                startTime = new Date() * 1;
            };
            var moveHandler = function (evt) {
                evt.preventDefault();
                offsetX = evt.touches[0].pageX - orgX;
            };
            var endHandler = function () {
                endTime = new Date() * 1;
                var timeDif = endTime - startTime;
                var cls = '';
                if (timeDif < 200) {
                    if (offsetX > 50) {
                        cid--;
                        //cls = 'bounceInLeft';
                    } else if (offsetX < -50) {
                        cid++;
                        //cls = 'bounceInRight';
                    }
                } else {
                    if (offsetX > $(window).width() / 6) {
                        cid--;
                        //cls = 'bounceInLeft';
                    } else if (offsetX < -$(window).width() / 6) {
                        cid++;
                        //cls = 'bounceInRight';
                    }
                }
                if (cid < 0) {
                    cid = len;
                }
                if (cid > len) {
                    cid = 0;
                }
                alert("kkk")
                //loadImage(cid, cls);
            };

            $(".slide_wrap li").on('touchstart', startHandler);
            $(".slide_wrap li").on('touchmove', moveHandler);
            $(".slide_wrap li").on('touchend', endHandler);
        }