<style>
    .main{
        min-height: 872px;
    }
</style>

<header class="main-header">
    <div class="block"></div>
    <span class="title">增值服务</span>
    <div class="dot"></div>
    <span class="subTitle">VIP中心</span>
</header>

<div class="main-container">

    <!--第一个表，无分页-->
    <div class="list" style="min-height: 400px">
        <img class="loading" id="loading0" src="img/loading.gif" alt="" width="50" height="50"/>
        <table class="table _1">
            <thead></thead>

            <tbody></tbody>
        </table>
    </div>
    <!--第二个表，无分页-->
    <div class="list">
        <table class="table _2">
            <thead>
            <tr>
                <th>平台</th>
                <th>购买量</th>
                <th>购买人数</th>
            </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>


    <!--第三个列表部分-->
    <div class="list">
        <img class="loading" id="loading1" src="img/loading.gif" alt="" width="50" height="50"/>
        <table class="table _3">
            <thead>
            <tr>
                <th>品牌</th>
                <th>购买量</th>
                <th>购买人数</th>
            </tr>
            </thead>

            <tbody>

            </tbody>
        </table>

        <div class="pager" id="pager1"></div>
    </div>




    <!--第四个列表部分-->
    <!--<div class="list">
        <img class="loading" id="loading2" src="img/loading.gif" alt="" width="50" height="50"/>
        <table class="table">
            <thead>
            <tr>
                <th>城市</th>
                <th>购买量</th>
                <th>购买人数</th>
            </tr>
            </thead>

            <tbody>

            </tbody>
        </table>

        <div class="pager" id="pager2"></div>
    </div>-->

</div>