<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <title>58银翼-Analysis</title>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/jquery.min.js"></script>
</head>
<body>

    <article class="w_100 bg34">
        <header class="header bg34 w960">
            <span><!--<i class="logo"></i>-->58Analysis</span>
            <ul class="tab_wrap">
                <li>
                    <a class="curr" href="javascript:void(0)">最新功能</a>
                </li>
                <li>
                    <a href="javascript:void(0)">帮助中心</a>
                </li>
            </ul>
            <div class="login">
                <a href="javascript:void(0)">请登录</a>
            </div>
        </header>
    </article>

    <article class="w_100 banner">
        <div class="">

        </div>
    </article>

    <article class="w960 entry">


        <!--集团业务-->
        <aside>
            <i class="dot_l"></i>
            <i class="dot_r"></i>
            <header>集团业务</header>


            <section class="entry_wrap">
                <h3>58同城</h3>

                <figure class="entry_port">
                    <div class="entry-icon w-pc"></div>
                    <figcaption>PC端流量</figcaption>
                </figure>

                <figure class="entry_port">
                    <div class="entry-icon w-m"></div>
                    <figcaption>M端流量</figcaption>
                </figure>

                <figure class="entry_port">
                    <div class="entry-icon w-app"></div>
                    <figcaption>APP端流量</figcaption>
                </figure>

            </section>


            <section class="entry_wrap">
                <h3>赶集</h3>

                <figure class="entry_port">
                    <div class="entry-icon ganji-pc"></div>
                    <figcaption>PC端流量</figcaption>
                </figure>

                <figure class="entry_port">
                    <div class="entry-icon ganji-m"></div>
                    <figcaption>M端流量</figcaption>
                </figure>

                <figure class="entry_port">
                    <div class="entry-icon ganji-app"></div>
                    <figcaption>APP端流量</figcaption>
                </figure>

            </section>



            <section class="entry_wrap">
                <h3>中华英才</h3>

                <figure class="entry_port">
                    <div class="entry-icon yc-pc"></div>
                    <figcaption>PC端流量</figcaption>
                </figure>

                <figure class="entry_port">
                    <div class="entry-icon yc-m"></div>
                    <figcaption>M端流量</figcaption>
                </figure>

                <figure class="entry_port">
                    <div class="entry-icon yc-app"></div>
                    <figcaption>APP端流量</figcaption>
                </figure>

            </section>

        </aside>


        <!--58业务线-->
        <aside>
            <i class="dot_l"></i>
            <i class="dot_r"></i>
            <header>58业务线</header>


            <section class="entry_wrap">
                <h3>PC端</h3>

                <figure class="entry_link">
                    <img src="img/img-pc.png" alt=""/>
                    <div class="entry_link_wrap">
                        <a href="#">二手车</a>
                        <a href="#">房产</a>
                        <a href="#">二手创新</a>
                        <a href="#">国际站</a>
                        <a href="#">招聘</a>
                        <a href="#">黄页</a>
                        <a href="#">二手推广</a>
                    </div>

                </figure>

            </section>


            <section class="entry_wrap">
                <h3>M站</h3>

                <figure class="entry_link">
                    <img src="img/img-m.png" alt=""/>
                    <div class="entry_link_wrap">
                        <a href="#">二手车</a>
                        <a href="#">房产</a>
                        <a href="#">二手创新</a>
                        <a href="#">国际站</a>
                        <a href="#">招聘</a>
                        <a href="#">黄页</a>
                        <a href="#">二手推广</a>
                    </div>

                </figure>

            </section>


            <section class="entry_wrap">
                <h3>APP</h3>

                <figure class="entry_link">
                    <img src="img/img-app.png" alt=""/>
                    <div class="entry_link_wrap">
                        <a href="#">二手车</a>
                        <a href="#">房产</a>
                        <a href="#">二手创新</a>
                        <a href="#">国际站</a>
                        <a href="#">招聘</a>
                        <a href="#">黄页</a>
                        <a href="#">二手推广</a>
                    </div>

                </figure>

            </section>



        </aside>



    </article>


    <footer class="footer">
        <footer class="w960">
            <div class="tip">
                <span>建议使用浏览器：&nbsp;&nbsp;</span>
                <label class="browser ie"></label>&nbsp;&nbsp;IE&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="browser chrome"></label>&nbsp;&nbsp;Chrome&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="browser firefox"></label>&nbsp;&nbsp;Firefox
            </div>

            <div class="info">
                五八信息技术有限公司@58.com
            </div>
        </footer>

    </footer>
</body>
</html>