<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <!-- 禁止数字识自动别为电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Echo,echochocolatekapa@163.com">
    <title>微信开发者sdk测试页面</title>
    <script src="js/change.js"></script>
    <!--<link rel="stylesheet" href="../../public/css/common.css"/>-->
    <!--<link rel="stylesheet" href="../../public/css/style.css"/>-->
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/zepto.min.js"></script>
    <script src="js/jweixin-1.1.0.js"></script>

</head>
<body>

    <header>
        <i class="_back"><</i>
        <span class="_title">惺惺惜惺惺</span>
        <i class="_share"><img src="img/share.png" alt="分享"/></i>
    </header>

    <section class="shake_wrap">
        <div class="shake_mask"></div>
        <img src="./img/shakeall.png" alt=""/>
    </section>

    <section class="send_wrap pr">
        <p id="send">给好友发红包, 还剩<span>7</span>个</p>
        <div class="footer pa">
            <a href="javascript:void(0)">活动说明</a>
            <a href="javascript:void(0)">规则说明</a>
        </div>
    </section>

    <script>
        /*$(function () {
            setTimeout(function ()　{
                $(".shake_mask").slideUp();
            }, 500);
        })*/
    </script>

</body>

</html>