<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
    <!-- 禁止数字识自动别为电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Echo,echochocolatekapa@163.com">
    <title>微信开发者sdk测试页面</title>
    <script src="js/change.js"></script>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/zepto.min.js"></script>
    <script src="js/jweixin-1.1.0.js"></script>

    <script>
        $(function () {
            $.ajax({
                url: '/getAppInfo',
                data: {
                    url: 'http://zhidaoer.com:5664/wxsdk'
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    //console.log('at first, getAppInfo data is : \n', data);
                    wx.config({
                        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: data.appid, // 必填，公众号的唯一标识
                        timestamp: data.timestamp, // 必填，生成签名的时间戳
                        nonceStr: data.nonceStr, // 必填，生成签名的随机串
                        signature: data.signature,// 必填，签名，见附录1
                        jsApiList: [
                            'checkJsApi',
                            'onMenuShareTimeline',
                            'onMenuShareAppMessage',
                            'onMenuShareQQ',
                            'onMenuShareWeibo'
                        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                    });

                }
            });
        });
    </script>
</head>
<body>
<div id='wx_pic' style='margin:0 auto;display:none;'>
    <img src='http://zhidaoer.com:5664/wxsdk/img/banner.jpg'/>
</div>
    <header>
        <i class="_back"><</i>
        <span class="_title">惺惺惜惺惺</span>
        <i class="_share"><img src="img/share.png" alt="分享"/></i>
    </header>

    <section class="shake_wrap">
        <div class="shake_mask"></div>
        <img src="./img/shakeall.png" alt=""/>
    </section>

    <section class="send_wrap pr">
        <p id="send">给好友发红包, 还剩<span>7</span>个</p>
        <div class="footer pa">
            <a href="javascript:void(0)">活动说明</a>
            <a href="javascript:void(0)">规则说明</a>
        </div>
    </section>
    <script src="js/index.js"></script>
</body>

</html>